doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title OneUI - Bootstrap 4 Admin Template &amp; UI Framework
  meta(name='description' content='OneUI - Bootstrap 4 Admin Template & UI Framework created by pixelcave and published on Themeforest')
  meta(name='author' content='pixelcave')
  meta(name='robots' content='noindex, nofollow')
  // Open Graph Meta
  meta(property='og:title' content='OneUI - Bootstrap 4 Admin Template & UI Framework')
  meta(property='og:site_name' content='OneUI')
  meta(property='og:description' content='OneUI - Bootstrap 4 Admin Template & UI Framework created by pixelcave and published on Themeforest')
  meta(property='og:type' content='website')
  meta(property='og:url' content='')
  meta(property='og:image' content='')
  // Icons
  // The following icons can be replaced with your own, they are used by desktop and mobile browsers
  link(rel='shortcut icon' href='assets/media/favicons/favicon.png')
  link(rel='icon' type='image/png' sizes='192x192' href='assets/media/favicons/favicon-192x192.png')
  link(rel='apple-touch-icon' sizes='180x180' href='assets/media/favicons/apple-touch-icon-180x180.png')
  // END Icons
  // Stylesheets
  // Fonts and OneUI framework
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap')
  link#css-main(rel='stylesheet' href='css/oneui.min.css')
  // You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg:
  // <link rel="stylesheet" id="css-theme" href="assets/css/themes/amethyst.min.css">
  // END Stylesheets
// Page Container
//
  Available classes for #page-container:
  GENERIC
  'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Template._uiHandleTheme())
  SIDEBAR & SIDE OVERLAY
  'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
  'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
  'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
  'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
  'sidebar-dark'                              Dark themed sidebar
  'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
  'side-overlay-o'                            Visible Side Overlay by default
  'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens
  'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)
  HEADER
  ''                                          Static Header if no class is added
  'page-header-fixed'                         Fixed Header
  HEADER STYLE
  ''                                          Light themed Header
  'page-header-dark'                          Dark themed Header
  MAIN CONTENT LAYOUT
  ''                                          Full width Main Content if no class is added
  'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
  'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
#page-container.sidebar-o.sidebar-dark.enable-page-overlay.side-scroll.page-header-fixed.main-content-narrow
  // Side Overlay
  aside#side-overlay
    // Side Header
    .content-header.border-bottom
      // User Avatar
      a.img-link.mr-1(href='javascript:void(0)')
        img.img-avatar.img-avatar32(src='assets/media/avatars/avatar10.jpg' alt='')
      // END User Avatar
      // User Info
      .ml-2
        a.text-dark.font-w600.font-size-sm(href='javascript:void(0)') Adam McCoy
      // END User Info
      // Close Side Overlay
      // Layout API, functionality initialized in Template._uiApiLayout()
      a.ml-auto.btn.btn-sm.btn-alt-danger(href='javascript:void(0)' data-toggle='layout' data-action='side_overlay_close')
        i.fa.fa-fw.fa-times
      // END Close Side Overlay
    // END Side Header
    // Side Content
    .content-side
      // Side Overlay Tabs
      .block.block-transparent.pull-x.pull-t
        ul.nav.nav-tabs.nav-tabs-alt.nav-justified(data-toggle='tabs' role='tablist')
          li.nav-item
            a.nav-link.active(href='#so-overview')
              i.fa.fa-fw.fa-coffee.text-gray.mr-1
              |  Overview
          li.nav-item
            a.nav-link(href='#so-sales')
              i.fa.fa-fw.fa-chart-line.text-gray.mr-1
              |  Sales
        .block-content.tab-content.overflow-hidden
          // Overview Tab
          #so-overview.tab-pane.pull-x.fade.fade-left.show.active(role='tabpanel')
            // Activity
            .block
              .block-header.block-header-default
                h3.block-title Recent Activity
                .block-options
                  button.btn-block-option(type='button' data-toggle='block-option' data-action='state_toggle' data-action-mode='demo')
                    i.si.si-refresh
                  button.btn-block-option(type='button' data-toggle='block-option' data-action='content_toggle')
              .block-content
                // Activity List
                ul.nav-items.mb-0
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.si.si-wallet.text-success
                      .media-body
                        .font-size-sm.font-w600 New sale ($15)
                        .text-success Admin Template
                        small.font-size-sm.text-muted 3 min ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.si.si-pencil.text-info
                      .media-body
                        .font-size-sm.font-w600 You edited the file
                        .text-info
                          | Documentation.doc
                        small.font-size-sm.text-muted 15 min ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.si.si-close.text-danger
                      .media-body
                        .font-size-sm.font-w600 Project deleted
                        .text-danger Line Icon Set
                        small.font-size-sm.text-muted 4 hours ago
                // END Activity List
            // END Activity
            // Online Friends
            .block
              .block-header.block-header-default
                h3.block-title Online Friends
                .block-options
                  button.btn-block-option(type='button' data-toggle='block-option' data-action='state_toggle' data-action-mode='demo')
                    i.si.si-refresh
                  button.btn-block-option(type='button' data-toggle='block-option' data-action='content_toggle')
              .block-content
                // Users Navigation
                ul.nav-items.mb-0
                  li
                    a.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2.overlay-container.overlay-bottom
                        img.img-avatar.img-avatar48(src='assets/media/avatars/avatar7.jpg' alt='')
                        span.overlay-item.item.item-tiny.item-circle.border.border-2x.border-white.bg-success
                      .media-body
                        .font-w600 Susan Day
                        .font-size-sm.text-muted Copywriter
                  li
                    a.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2.overlay-container.overlay-bottom
                        img.img-avatar.img-avatar48(src='assets/media/avatars/avatar12.jpg' alt='')
                        span.overlay-item.item.item-tiny.item-circle.border.border-2x.border-white.bg-success
                      .media-body
                        .font-w600 Scott Young
                        .font-size-sm.text-muted Web Developer
                  li
                    a.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2.overlay-container.overlay-bottom
                        img.img-avatar.img-avatar48(src='assets/media/avatars/avatar6.jpg' alt='')
                        span.overlay-item.item.item-tiny.item-circle.border.border-2x.border-white.bg-success
                      .media-body
                        .font-w600 Barbara Scott
                        .font-size-sm.text-muted Web Designer
                  li
                    a.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2.overlay-container.overlay-bottom
                        img.img-avatar.img-avatar48(src='assets/media/avatars/avatar5.jpg' alt='')
                        span.overlay-item.item.item-tiny.item-circle.border.border-2x.border-white.bg-warning
                      .media-body
                        .font-w600 Lori Grant
                        .font-size-sm.text-muted Photographer
                  li
                    a.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2.overlay-container.overlay-bottom
                        img.img-avatar.img-avatar48(src='assets/media/avatars/avatar14.jpg' alt='')
                        span.overlay-item.item.item-tiny.item-circle.border.border-2x.border-white.bg-warning
                      .media-body
                        .font-w600 Ralph Murray
                        .font-size-sm.text-muted Graphic Designer
                // END Users Navigation
            // END Online Friends
            // Quick Settings
            .block.mb-0
              .block-header.block-header-default
                h3.block-title Quick Settings
                .block-options
                  button.btn-block-option(type='button' data-toggle='block-option' data-action='content_toggle')
              .block-content
                // Quick Settings Form
                form(action='be_pages_dashboard.html' method='POST' onsubmit='return false;')
                  .form-group
                    p.font-size-sm.font-w600.mb-2
                      | Online Status
                    .custom-control.custom-switch.mb-1
                      input#so-settings-check1.custom-control-input(type='checkbox' name='so-settings-check1' checked='')
                      label.custom-control-label(for='so-settings-check1') Show your status to all
                  .form-group
                    p.font-size-sm.font-w600.mb-2
                      | Auto Updates
                    .custom-control.custom-switch.mb-1
                      input#so-settings-check2.custom-control-input(type='checkbox' name='so-settings-check2' checked='')
                      label.custom-control-label(for='so-settings-check2') Keep up to date
                  .form-group
                    p.font-size-sm.font-w600.mb-1
                      | Application Alerts
                    .custom-control.custom-switch.mb-1
                      input#so-settings-check3.custom-control-input(type='checkbox' name='so-settings-check3' checked='')
                      label.custom-control-label(for='so-settings-check3') Email Notifications
                    .custom-control.custom-switch.mb-1
                      input#so-settings-check4.custom-control-input(type='checkbox' name='so-settings-check4' checked='')
                      label.custom-control-label(for='so-settings-check4') SMS Notifications
                  .form-group
                    p.font-size-sm.font-w600.mb-1
                      | API
                    .custom-control.custom-switch.mb-1
                      input#so-settings-check5.custom-control-input(type='checkbox' name='so-settings-check5' checked='')
                      label.custom-control-label(for='so-settings-check5') Enable access
                // END Quick Settings Form
            // END Quick Settings
          // END Overview Tab
          // Sales Tab
          #so-sales.tab-pane.pull-x.fade.fade-right(role='tabpanel')
            .block.mb-0
              // Stats
              .block-content
                .row.items-push.pull-t
                  .col-6
                    .font-size-sm.font-w600.text-uppercase Sales
                    a.font-size-lg(href='javascript:void(0)') 22.030
                  .col-6
                    .font-size-sm.font-w600.text-uppercase Balance
                    a.font-size-lg(href='javascript:void(0)') $4.589,00
              // END Stats
              // Today
              .block-content.block-content-full.block-content-sm.bg-body-light
                .row
                  .col-6
                    span.font-size-sm.font-w600.text-uppercase Today
                  .col-6.text-right
                    span.ext-muted $996
              .block-content
                ul.nav-items.push
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $249
                        small.text-muted 3 min ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $129
                        small.text-muted 50 min ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $119
                        small.text-muted 2 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $499
                        small.text-muted 3 hours ago
              // END Today
              // Yesterday
              .block-content.block-content-full.block-content-sm.bg-body-light
                .row
                  .col-6
                    span.font-size-sm.font-w600.text-uppercase Yesterday
                  .col-6.text-right
                    span.text-muted $765
              .block-content
                ul.nav-items.push
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $249
                        small.text-muted 26 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-danger
                      .media-body
                        .font-w600 Product Purchase - $50
                        small.text-muted 28 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $119
                        small.text-muted 29 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-danger
                      .media-body
                        .font-w600 Paypal Withdrawal - $300
                        small.text-muted 37 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $129
                        small.text-muted 39 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $119
                        small.text-muted 45 hours ago
                  li
                    a.text-dark.media.py-2(href='javascript:void(0)')
                      .mr-3.ml-2
                        i.fa.fa-fw.fa-circle.text-success
                      .media-body
                        .font-w600 New sale! + $499
                        small.text-muted 46 hours ago
                // More
                .text-center
                  a.btn.btn-sm.btn-light(href='javascript:void(0)')
                    i.fa.fa-arrow-down.mr-1
                    |  Load More..
                // END More
              // END Yesterday
          // END Sales Tab
      // END Side Overlay Tabs
    // END Side Content
  // END Side Overlay
  // Sidebar
  //
    Sidebar Mini Mode - Display Helper classes
    Adding 'smini-hide' class to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
    Adding 'smini-show' class to an element will make it visible (opacity: 1) when the sidebar is in mini mode
    If you would like to disable the transition animation, make sure to also add the 'no-transition' class to your element
    Adding 'smini-hidden' to an element will hide it when the sidebar is in mini mode
    Adding 'smini-visible' to an element will show it (display: inline-block) only when the sidebar is in mini mode
    Adding 'smini-visible-block' to an element will show it (display: block) only when the sidebar is in mini mode
  nav#sidebar(aria-label='Main Navigation')
    // Side Header
    .content-header.bg-white-5
      // Logo
      a.font-w600.text-dual(href='index.html')
        span.smini-visible
          i.fa.fa-circle-notch.text-primary
        span.smini-hide.font-size-h5.tracking-wider
          | One
          span.font-w400 UI
      // END Logo
      // Extra
      div
        // Options
        .dropdown.d-inline-block.ml-2
          a#sidebar-themes-dropdown.btn.btn-sm.btn-dual(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#')
            i.si.si-drop
          .dropdown-menu.dropdown-menu-right.font-size-sm.smini-hide.border-0(aria-labelledby='sidebar-themes-dropdown')
            // Color Themes
            // Layout API, functionality initialized in Template._uiHandleTheme()
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='default' href='#')
              span Default
              i.fa.fa-circle.text-default
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='assets/css/themes/amethyst.min.css' href='#')
              span Amethyst
              i.fa.fa-circle.text-amethyst
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='assets/css/themes/city.min.css' href='#')
              span City
              i.fa.fa-circle.text-city
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='assets/css/themes/flat.min.css' href='#')
              span Flat
              i.fa.fa-circle.text-flat
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='assets/css/themes/modern.min.css' href='#')
              span Modern
              i.fa.fa-circle.text-modern
            a.dropdown-item.d-flex.align-items-center.justify-content-between.font-w500(data-toggle='theme' data-theme='assets/css/themes/smooth.min.css' href='#')
              span Smooth
              i.fa.fa-circle.text-smooth
            // END Color Themes
            .dropdown-divider
            // Sidebar Styles
            // Layout API, functionality initialized in Template._uiApiLayout()
            a.dropdown-item.font-w500(data-toggle='layout' data-action='sidebar_style_light' href='#')
              span Sidebar Light
            a.dropdown-item.font-w500(data-toggle='layout' data-action='sidebar_style_dark' href='#')
              span Sidebar Dark
            // Sidebar Styles
            .dropdown-divider
            // Header Styles
            // Layout API, functionality initialized in Template._uiApiLayout()
            a.dropdown-item.font-w500(data-toggle='layout' data-action='header_style_light' href='#')
              span Header Light
            a.dropdown-item.font-w500(data-toggle='layout' data-action='header_style_dark' href='#')
              span Header Dark
            // Header Styles
        // END Options
        // Close Sidebar, Visible only on mobile screens
        // Layout API, functionality initialized in Template._uiApiLayout()
        a.d-lg-none.btn.btn-sm.btn-dual.ml-1(data-toggle='layout' data-action='sidebar_close' href='javascript:void(0)')
          i.fa.fa-fw.fa-times
        // END Close Sidebar
      // END Extra
    // END Side Header
    // Sidebar Scrolling
    .js-sidebar-scroll
      // Side Navigation
      .content-side
        ul.nav-main
          li.nav-main-item
            a.nav-main-link.active(href='be_pages_dashboard.html')
              i.nav-main-link-icon.si.si-speedometer
              span.nav-main-link-name Dashboard
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-layers
              span.nav-main-link-name Dogs
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-bag
                  span.nav-main-link-name e-Commerce
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_dashboard.html')
                      span.nav-main-link-name Dashboard
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_orders.html')
                      span.nav-main-link-name Orders
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_order.html')
                      span.nav-main-link-name Order
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_products.html')
                      span.nav-main-link-name Products
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_product_edit.html')
                      span.nav-main-link-name Product Edit
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_customer.html')
                      span.nav-main-link-name Customer
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-handbag
                  span.nav-main-link-name e-Commerce Store
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_store_home.html')
                      span.nav-main-link-name Home
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_store_search.html')
                      span.nav-main-link-name Search Results
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_store_products.html')
                      span.nav-main-link-name Products List
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_store_product.html')
                      span.nav-main-link-name Product Page
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_ecom_store_checkout.html')
                      span.nav-main-link-name Checkout
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-pencil
                  span.nav-main-link-name Blog
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_blog_classic.html')
                      span.nav-main-link-name Classic
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_blog_list.html')
                      span.nav-main-link-name List
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_blog_grid.html')
                      span.nav-main-link-name Grid
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_blog_story.html')
                      span.nav-main-link-name Story
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_blog_story_cover.html')
                      span.nav-main-link-name Story Cover
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-graduation
                  span.nav-main-link-name e-Learning
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_elearning_courses.html')
                      span.nav-main-link-name Courses
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_elearning_course.html')
                      span.nav-main-link-name Course
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_elearning_lesson.html')
                      span.nav-main-link-name Lesson
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-bubbles
                  span.nav-main-link-name Forum
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_forum_categories.html')
                      span.nav-main-link-name Categories
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_forum_topics.html')
                      span.nav-main-link-name Topics
                  li.nav-main-item
                    a.nav-main-link(href='be_pages_forum_discussion.html')
                      span.nav-main-link-name Discussion
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  i.nav-main-link-icon.si.si-magnet
                  span.nav-main-link-name Boxed Backend
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='bd_dashboard.html')
                      span.nav-main-link-name Dashboard
                  li.nav-main-item
                    a.nav-main-link(href='bd_search.html')
                      span.nav-main-link-name Search
                  li.nav-main-item
                    a.nav-main-link(href='bd_simple_1.html')
                      span.nav-main-link-name Simple 1
                  li.nav-main-item
                    a.nav-main-link(href='bd_simple_2.html')
                      span.nav-main-link-name Simple 2
                  li.nav-main-item
                    a.nav-main-link(href='bd_image_1.html')
                      span.nav-main-link-name Image 1
                  li.nav-main-item
                    a.nav-main-link(href='bd_image_2.html')
                      span.nav-main-link-name Image 2
                  li.nav-main-item
                    a.nav-main-link(href='bd_video_1.html')
                      span.nav-main-link-name Video 1
                  li.nav-main-item
                    a.nav-main-link(href='bd_video_2.html')
                      span.nav-main-link-name Video 2
          li.nav-main-heading User Interface
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-energy
              span.nav-main-link-name Blocks
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_blocks_styles.html')
                  span.nav-main-link-name Styles
              li.nav-main-item
                a.nav-main-link(href='be_blocks_options.html')
                  span.nav-main-link-name Options
              li.nav-main-item
                a.nav-main-link(href='be_blocks_forms.html')
                  span.nav-main-link-name Forms
              li.nav-main-item
                a.nav-main-link(href='be_blocks_themed.html')
                  span.nav-main-link-name Themed
              li.nav-main-item
                a.nav-main-link(href='be_blocks_api.html')
                  span.nav-main-link-name API
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-badge
              span.nav-main-link-name Elements
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_ui_grid.html')
                  span.nav-main-link-name Grid
              li.nav-main-item
                a.nav-main-link(href='be_ui_typography.html')
                  span.nav-main-link-name Typography
              li.nav-main-item
                a.nav-main-link(href='be_ui_icons.html')
                  span.nav-main-link-name Icons
              li.nav-main-item
                a.nav-main-link(href='be_ui_buttons.html')
                  span.nav-main-link-name Buttons
              li.nav-main-item
                a.nav-main-link(href='be_ui_buttons_groups.html')
                  span.nav-main-link-name Button Groups
              li.nav-main-item
                a.nav-main-link(href='be_ui_dropdowns.html')
                  span.nav-main-link-name Dropdowns
              li.nav-main-item
                a.nav-main-link(href='be_ui_tabs.html')
                  span.nav-main-link-name Tabs
              li.nav-main-item
                a.nav-main-link(href='be_ui_navigation.html')
                  span.nav-main-link-name Navigation
              li.nav-main-item
                a.nav-main-link(href='be_ui_navigation_horizontal.html')
                  span.nav-main-link-name Horizontal Navigation
              li.nav-main-item
                a.nav-main-link(href='be_ui_progress.html')
                  span.nav-main-link-name Progress
              li.nav-main-item
                a.nav-main-link(href='be_ui_alerts.html')
                  span.nav-main-link-name Alerts
              li.nav-main-item
                a.nav-main-link(href='be_ui_tooltips.html')
                  span.nav-main-link-name Tooltips
              li.nav-main-item
                a.nav-main-link(href='be_ui_popovers.html')
                  span.nav-main-link-name Popovers
              li.nav-main-item
                a.nav-main-link(href='be_ui_modals.html')
                  span.nav-main-link-name Modals
              li.nav-main-item
                a.nav-main-link(href='be_ui_images.html')
                  span.nav-main-link-name Images Overlay
              li.nav-main-item
                a.nav-main-link(href='be_ui_timeline.html')
                  span.nav-main-link-name Timeline
              li.nav-main-item
                a.nav-main-link(href='be_ui_ribbons.html')
                  span.nav-main-link-name Ribbons
              li.nav-main-item
                a.nav-main-link(href='be_ui_animations.html')
                  span.nav-main-link-name Animations
              li.nav-main-item
                a.nav-main-link(href='be_ui_color_themes.html')
                  span.nav-main-link-name Color Themes
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-grid
              span.nav-main-link-name Tables
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_tables_styles.html')
                  span.nav-main-link-name Styles
              li.nav-main-item
                a.nav-main-link(href='be_tables_responsive.html')
                  span.nav-main-link-name Responsive
              li.nav-main-item
                a.nav-main-link(href='be_tables_helpers.html')
                  span.nav-main-link-name Helpers
              li.nav-main-item
                a.nav-main-link(href='be_tables_pricing.html')
                  span.nav-main-link-name Pricing
              li.nav-main-item
                a.nav-main-link(href='be_tables_datatables.html')
                  span.nav-main-link-name DataTables
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-note
              span.nav-main-link-name Forms
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_forms_elements.html')
                  span.nav-main-link-name Elements
              li.nav-main-item
                a.nav-main-link(href='be_forms_custom_controls.html')
                  span.nav-main-link-name Custom Controls
              li.nav-main-item
                a.nav-main-link(href='be_forms_layouts.html')
                  span.nav-main-link-name Layouts
              li.nav-main-item
                a.nav-main-link(href='be_forms_input_groups.html')
                  span.nav-main-link-name Input Groups
              li.nav-main-item
                a.nav-main-link(href='be_forms_plugins.html')
                  span.nav-main-link-name Plugins
              li.nav-main-item
                a.nav-main-link(href='be_forms_editors.html')
                  span.nav-main-link-name Editors
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name CKEditor 5
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_forms_ckeditor5_classic.html')
                      span.nav-main-link-name Classic
                  li.nav-main-item
                    a.nav-main-link(href='be_forms_ckeditor5_inline.html')
                      span.nav-main-link-name Inline
              li.nav-main-item
                a.nav-main-link(href='be_forms_validation.html')
                  span.nav-main-link-name Validation
              li.nav-main-item
                a.nav-main-link(href='be_forms_wizard.html')
                  span.nav-main-link-name Wizard
          li.nav-main-heading Develop
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-wrench
              span.nav-main-link-name Components
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_comp_loaders.html')
                  span.nav-main-link-name Loaders
              li.nav-main-item
                a.nav-main-link(href='be_comp_image_cropper.html')
                  span.nav-main-link-name Image Cropper
              li.nav-main-item
                a.nav-main-link(href='be_comp_appear.html')
                  span.nav-main-link-name Appear
              li.nav-main-item
                a.nav-main-link(href='be_comp_charts.html')
                  span.nav-main-link-name Charts
              li.nav-main-item
                a.nav-main-link(href='be_comp_calendar.html')
                  span.nav-main-link-name Calendar
              li.nav-main-item
                a.nav-main-link(href='be_comp_sliders.html')
                  span.nav-main-link-name Sliders
              li.nav-main-item
                a.nav-main-link(href='be_comp_syntax_highlighting.html')
                  span.nav-main-link-name Syntax Highlighting
              li.nav-main-item
                a.nav-main-link(href='be_comp_rating.html')
                  span.nav-main-link-name Rating
              li.nav-main-item
                a.nav-main-link(href='be_comp_maps_google.html')
                  span.nav-main-link-name Google Maps
              li.nav-main-item
                a.nav-main-link(href='be_comp_maps_vector.html')
                  span.nav-main-link-name Vector Maps
              li.nav-main-item
                a.nav-main-link(href='be_comp_dialogs.html')
                  span.nav-main-link-name Dialogs
              li.nav-main-item
                a.nav-main-link(href='be_comp_notifications.html')
                  span.nav-main-link-name Notifications
              li.nav-main-item
                a.nav-main-link(href='be_comp_gallery.html')
                  span.nav-main-link-name Gallery
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-magic-wand
              span.nav-main-link-name Layout
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Page
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_page_default.html')
                      span.nav-main-link-name Default
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_page_flipped.html')
                      span.nav-main-link-name Flipped
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_page_native_scrolling.html')
                      span.nav-main-link-name Native Scrolling
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Main Content
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_content_main_full_width.html')
                      span.nav-main-link-name Full Width
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_content_main_narrow.html')
                      span.nav-main-link-name Narrow
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_content_main_boxed.html')
                      span.nav-main-link-name Boxed
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Header
                ul.nav-main-submenu
                  li.nav-main-heading Fixed
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_header_fixed_light.html')
                      span.nav-main-link-name Light
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_header_fixed_dark.html')
                      span.nav-main-link-name Dark
                  li.nav-main-heading Static
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_header_static_light.html')
                      span.nav-main-link-name Light
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_header_static_dark.html')
                      span.nav-main-link-name Dark
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Sidebar
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_sidebar_mini.html')
                      span.nav-main-link-name Mini
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_sidebar_light.html')
                      span.nav-main-link-name Light
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_sidebar_dark.html')
                      span.nav-main-link-name Dark
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_sidebar_hidden.html')
                      span.nav-main-link-name Hidden
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Side Overlay
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_side_overlay_visible.html')
                      span.nav-main-link-name Visible
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_side_overlay_mode_hover.html')
                      span.nav-main-link-name Hover Mode
                  li.nav-main-item
                    a.nav-main-link(href='be_layout_side_overlay_no_page_overlay.html')
                      span.nav-main-link-name No Page Overlay
              li.nav-main-item
                a.nav-main-link(href='be_layout_api.html')
                  span.nav-main-link-name API
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-puzzle
              span.nav-main-link-name Multi Level Menu
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='#')
                  span.nav-main-link-name Link 1-1
              li.nav-main-item
                a.nav-main-link(href='#')
                  span.nav-main-link-name Link 1-2
              li.nav-main-item
                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                  span.nav-main-link-name Sub Level 2
                ul.nav-main-submenu
                  li.nav-main-item
                    a.nav-main-link(href='#')
                      span.nav-main-link-name Link 2-1
                  li.nav-main-item
                    a.nav-main-link(href='#')
                      span.nav-main-link-name Link 2-2
                  li.nav-main-item
                    a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                      span.nav-main-link-name Sub Level 3
                    ul.nav-main-submenu
                      li.nav-main-item
                        a.nav-main-link(href='#')
                          span.nav-main-link-name Link 3-1
                      li.nav-main-item
                        a.nav-main-link(href='#')
                          span.nav-main-link-name Link 3-2
                      li.nav-main-item
                        a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                          span.nav-main-link-name Sub Level 4
                        ul.nav-main-submenu
                          li.nav-main-item
                            a.nav-main-link(href='#')
                              span.nav-main-link-name Link 4-1
                          li.nav-main-item
                            a.nav-main-link(href='#')
                              span.nav-main-link-name Link 4-2
                          li.nav-main-item
                            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                              span.nav-main-link-name Sub Level 5
                            ul.nav-main-submenu
                              li.nav-main-item
                                a.nav-main-link(href='#')
                                  span.nav-main-link-name Link 5-1
                              li.nav-main-item
                                a.nav-main-link(href='#')
                                  span.nav-main-link-name Link 5-2
                              li.nav-main-item
                                a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
                                  span.nav-main-link-name Sub Level 6
                                ul.nav-main-submenu
                                  li.nav-main-item
                                    a.nav-main-link(href='#')
                                      span.nav-main-link-name Link 6-1
                                  li.nav-main-item
                                    a.nav-main-link(href='#')
                                      span.nav-main-link-name Link 6-2
          li.nav-main-heading Pages
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-layers
              span.nav-main-link-name Generic
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_blank.html')
                  span.nav-main-link-name Blank
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_blank_block.html')
                  span.nav-main-link-name Blank (Block)
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_search.html')
                  span.nav-main-link-name Search
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_profile.html')
                  span.nav-main-link-name Profile
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_profile_edit.html')
                  span.nav-main-link-name Profile Edit
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_inbox.html')
                  span.nav-main-link-name Inbox
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_invoice.html')
                  span.nav-main-link-name Invoice
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_faq.html')
                  span.nav-main-link-name FAQ
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_team.html')
                  span.nav-main-link-name Team
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_contact.html')
                  span.nav-main-link-name Contact
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_support.html')
                  span.nav-main-link-name Support
              li.nav-main-item
                a.nav-main-link(href='be_pages_generic_upgrade_plan.html')
                  span.nav-main-link-name Upgrade Plan
              li.nav-main-item
                a.nav-main-link(href='be_pages_dashboard_v1.html')
                  span.nav-main-link-name Dashboard v1
              li.nav-main-item
                a.nav-main-link(href='op_maintenance.html')
                  span.nav-main-link-name Maintenance
              li.nav-main-item
                a.nav-main-link(href='op_status.html')
                  span.nav-main-link-name Status
              li.nav-main-item
                a.nav-main-link(href='op_coming_soon.html')
                  span.nav-main-link-name Coming Soon
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-lock
              span.nav-main-link-name Authentication
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_pages_auth_all.html')
                  span.nav-main-link-name All
              li.nav-main-item
                a.nav-main-link(href='op_auth_signin.html')
                  span.nav-main-link-name Sign In
              li.nav-main-item
                a.nav-main-link(href='op_auth_signin2.html')
                  span.nav-main-link-name Sign In 2
              li.nav-main-item
                a.nav-main-link(href='op_auth_signup.html')
                  span.nav-main-link-name Sign Up
              li.nav-main-item
                a.nav-main-link(href='op_auth_signup2.html')
                  span.nav-main-link-name Sign Up 2
              li.nav-main-item
                a.nav-main-link(href='op_auth_lock.html')
                  span.nav-main-link-name Lock Screen
              li.nav-main-item
                a.nav-main-link(href='op_auth_lock2.html')
                  span.nav-main-link-name Lock Screen 2
              li.nav-main-item
                a.nav-main-link(href='op_auth_reminder.html')
                  span.nav-main-link-name Pass Reminder
              li.nav-main-item
                a.nav-main-link(href='op_auth_reminder2.html')
                  span.nav-main-link-name Pass Reminder 2
          li.nav-main-item
            a.nav-main-link.nav-main-link-submenu(data-toggle='submenu' aria-haspopup='true' aria-expanded='false' href='#')
              i.nav-main-link-icon.si.si-fire
              span.nav-main-link-name Error Pages
            ul.nav-main-submenu
              li.nav-main-item
                a.nav-main-link(href='be_pages_error_all.html')
                  span.nav-main-link-name All
              li.nav-main-item
                a.nav-main-link(href='op_error_400.html')
                  span.nav-main-link-name 400
              li.nav-main-item
                a.nav-main-link(href='op_error_401.html')
                  span.nav-main-link-name 401
              li.nav-main-item
                a.nav-main-link(href='op_error_403.html')
                  span.nav-main-link-name 403
              li.nav-main-item
                a.nav-main-link(href='op_error_404.html')
                  span.nav-main-link-name 404
              li.nav-main-item
                a.nav-main-link(href='op_error_500.html')
                  span.nav-main-link-name 500
              li.nav-main-item
                a.nav-main-link(href='op_error_503.html')
                  span.nav-main-link-name 503
      // END Side Navigation
    // END Sidebar Scrolling
  // END Sidebar
  // Header
  header#page-header
    // Header Content
    .content-header
      // Left Section
      .d-flex.align-items-center
        // Toggle Sidebar
        // Layout API, functionality initialized in Template._uiApiLayout()
        button.btn.btn-sm.btn-dual.mr-2.d-lg-none(type='button' data-toggle='layout' data-action='sidebar_toggle')
          i.fa.fa-fw.fa-bars
        // END Toggle Sidebar
        // Toggle Mini Sidebar
        // Layout API, functionality initialized in Template._uiApiLayout()
        button.btn.btn-sm.btn-dual.mr-2.d-none.d-lg-inline-block(type='button' data-toggle='layout' data-action='sidebar_mini_toggle')
          i.fa.fa-fw.fa-ellipsis-v
        // END Toggle Mini Sidebar
        // Apps Modal
        // Opens the Apps modal found at the bottom of the page, after footers markup
        button.btn.btn-sm.btn-dual.mr-2(type='button' data-toggle='modal' data-target='#one-modal-apps')
          i.fa.fa-fw.fa-cubes
        // END Apps Modal
        // Open Search Section (visible on smaller screens)
        // Layout API, functionality initialized in Template._uiApiLayout()
        button.btn.btn-sm.btn-dual.d-md-none(type='button' data-toggle='layout' data-action='header_search_on')
          i.fa.fa-fw.fa-search
        // END Open Search Section
        // Search Form (visible on larger screens)
        form.d-none.d-md-inline-block(action='be_pages_generic_search.html' method='POST')
          .input-group.input-group-sm
            input#page-header-search-input2.form-control.form-control-alt(type='text' placeholder='Search..' name='page-header-search-input2')
            .input-group-append
              span.input-group-text.bg-body.border-0
                i.fa.fa-fw.fa-search
        // END Search Form
      // END Left Section
      // Right Section
      .d-flex.align-items-center
        // User Dropdown
        .dropdown.d-inline-block.ml-2
          button#page-header-user-dropdown.btn.btn-sm.btn-dual.d-flex.align-items-center(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.rounded-circle(src='assets/media/avatars/avatar10.jpg' alt='Header Avatar' style='width: 21px;')
            span.d-none.d-sm-inline-block.ml-2 Adam
            i.fa.fa-fw.fa-angle-down.d-none.d-sm-inline-block.ml-1.mt-1
          .dropdown-menu.dropdown-menu-md.dropdown-menu-right.p-0.border-0(aria-labelledby='page-header-user-dropdown')
            .p-3.text-center.bg-primary-dark.rounded-top
              img.img-avatar.img-avatar48.img-avatar-thumb(src='assets/media/avatars/avatar10.jpg' alt='')
              p.mt-2.mb-0.text-white.font-w500 Adam Smith
              p.mb-0.text-white-50.font-size-sm Web Developer
            .p-2
              a.dropdown-item.d-flex.align-items-center.justify-content-between(href='be_pages_generic_inbox.html')
                span.font-size-sm.font-w500 Inbox
                span.badge.badge-pill.badge-primary.ml-2 3
              a.dropdown-item.d-flex.align-items-center.justify-content-between(href='be_pages_generic_profile.html')
                span.font-size-sm.font-w500 Profile
                span.badge.badge-pill.badge-primary.ml-2 1
              a.dropdown-item.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                span.font-size-sm.font-w500 Settings
              .dropdown-divider(role='separator')
              a.dropdown-item.d-flex.align-items-center.justify-content-between(href='op_auth_lock.html')
                span.font-size-sm.font-w500 Lock Account
              a.dropdown-item.d-flex.align-items-center.justify-content-between(href='op_auth_signin.html')
                span.font-size-sm.font-w500 Log Out
        // END User Dropdown
        // Notifications Dropdown
        .dropdown.d-inline-block.ml-2
          button#page-header-notifications-dropdown.btn.btn-sm.btn-dual(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-fw.fa-bell
            span.text-primary &bull;
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right.p-0.border-0.font-size-sm(aria-labelledby='page-header-notifications-dropdown')
            .p-2.bg-primary-dark.text-center.rounded-top
              h5.dropdown-header.text-uppercase.text-white Notifications
            ul.nav-items.mb-0
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-check-circle.text-success
                  .media-body.pr-2
                    .font-w600 You have a new follower
                    span.font-w500.text-muted 15 min ago
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-plus-circle.text-primary
                  .media-body.pr-2
                    .font-w600 1 new sale, keep it up
                    span.font-w500.text-muted 22 min ago
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-times-circle.text-danger
                  .media-body.pr-2
                    .font-w600 Update failed, restart server
                    span.font-w500.text-muted 26 min ago
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-plus-circle.text-primary
                  .media-body.pr-2
                    .font-w600 2 new sales, keep it up
                    span.font-w500.text-muted 33 min ago
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-user-plus.text-success
                  .media-body.pr-2
                    .font-w600 You have a new subscriber
                    span.font-w500.text-muted 41 min ago
              li
                a.text-dark.media.py-2(href='javascript:void(0)')
                  .mr-2.ml-3
                    i.fa.fa-fw.fa-check-circle.text-success
                  .media-body.pr-2
                    .font-w600 You have a new follower
                    span.font-w500.text-muted 42 min ago
            .p-2.border-top
              a.btn.btn-sm.btn-light.btn-block.text-center(href='javascript:void(0)')
                i.fa.fa-fw.fa-arrow-down.mr-1
                |  Load More..
        // END Notifications Dropdown
        // Toggle Side Overlay
        // Layout API, functionality initialized in Template._uiApiLayout()
        button.btn.btn-sm.btn-dual.ml-2(type='button' data-toggle='layout' data-action='side_overlay_toggle')
          i.fa.fa-fw.fa-list-ul.fa-flip-horizontal
        // END Toggle Side Overlay
      // END Right Section
    // END Header Content
    // Header Search
    #page-header-search.overlay-header.bg-white
      .content-header
        form.w-100(action='be_pages_generic_search.html' method='POST')
          .input-group
            .input-group-prepend
              // Layout API, functionality initialized in Template._uiApiLayout()
              button.btn.btn-alt-danger(type='button' data-toggle='layout' data-action='header_search_off')
                i.fa.fa-fw.fa-times-circle
            input#page-header-search-input.form-control(type='text' placeholder='Search or hit ESC..' name='page-header-search-input')
    // END Header Search
    // Header Loader
    // Please check out the Loaders page under Components category to see examples of showing/hiding it
    #page-header-loader.overlay-header.bg-white
      .content-header
        .w-100.text-center
          i.fa.fa-fw.fa-circle-notch.fa-spin
    // END Header Loader
  // END Header
  // Main Container
  main#main-container
    // Hero
    .bg-body-light
      .content.content-full
        .d-flex.flex-column.flex-sm-row.justify-content-sm-between.align-items-sm-center.py-2.text-center.text-sm-left
          .flex-sm-fill
            h1.h3.font-w700.mb-2
              | Main Dashboard
            h2.h6.font-w500.text-muted.mb-0
              | Welcome 
              a.font-w600(href='javascript:void(0)') Adam
              | , everything looks great.
          .mt-3.mt-sm-0.ml-sm-3
            button.btn.btn-sm.btn-alt-primary(type='button')
              i.fa.fa-cog
            .dropdown.d-inline-block
              button#dropdown-analytics-overview.btn.btn-sm.btn-alt-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fa.fa-fw.fa-calendar-alt
                |                                         Last 30 days
                i.fa.fa-fw.fa-angle-down
              .dropdown-menu.dropdown-menu-right.font-size-sm(aria-labelledby='dropdown-analytics-overview')
                a.dropdown-item.font-w500(href='javascript:void(0)') This Week
                a.dropdown-item.font-w500(href='javascript:void(0)') Previous Week
                .dropdown-divider
                a.dropdown-item.font-w500(href='javascript:void(0)') This Month
                a.dropdown-item.font-w500(href='javascript:void(0)') Previous Month
    // END Hero
    // Page Content
    .content
      // Overview
      .row.row-deck
        .col-sm-6.col-xl-3
          // Pending Orders
          .block.block-rounded.d-flex.flex-column
            .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between.align-items-center
              dl.mb-0
                dt.font-size-h2.font-w700 32
                dd.text-muted.mb-0 Pending Orders
              .item.item-rounded.bg-body
                i.fa.fa-shopping-cart.font-size-h3.text-primary
            .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
              a.font-w500.d-flex.align-items-center(href='javascript:void(0)')
                | View all orders
                i.fa.fa-arrow-alt-circle-right.ml-1.opacity-25.font-size-base
          // END Pending Orders
        .col-sm-6.col-xl-3
          // New Customers
          .block.block-rounded.d-flex.flex-column
            .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between.align-items-center
              dl.mb-0
                dt.font-size-h2.font-w700 124
                dd.text-muted.mb-0 New Customers
              .item.item-rounded.bg-body
                i.fa.fa-users.font-size-h3.text-primary
            .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
              a.font-w500.d-flex.align-items-center(href='javascript:void(0)')
                | View all customers
                i.fa.fa-arrow-alt-circle-right.ml-1.opacity-25.font-size-base
          // END New Customers
        .col-sm-6.col-xl-3
          // Messages
          .block.block-rounded.d-flex.flex-column
            .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between.align-items-center
              dl.mb-0
                dt.font-size-h2.font-w700 45
                dd.text-muted.mb-0 Messages
              .item.item-rounded.bg-body
                i.fa.fa-inbox.font-size-h3.text-primary
            .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
              a.font-w500.d-flex.align-items-center(href='javascript:void(0)')
                | View all messages
                i.fa.fa-arrow-alt-circle-right.ml-1.opacity-25.font-size-base
          // END Messages
        .col-sm-6.col-xl-3
          // Conversion Rate
          .block.block-rounded.d-flex.flex-column
            .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between.align-items-center
              dl.mb-0
                dt.font-size-h2.font-w700 4.5%
                dd.text-muted.mb-0 Conversion Rate
              .item.item-rounded.bg-body
                i.fa.fa-chart-line.font-size-h3.text-primary
            .block-content.block-content-full.block-content-sm.bg-body-light.font-size-sm
              a.font-w500.d-flex.align-items-center(href='javascript:void(0)')
                | View statistics
                i.fa.fa-arrow-alt-circle-right.ml-1.opacity-25.font-size-base
          // END Conversion Rate
      // END Overview
      // Statistics
      .row
        .col-xl-8.d-flex.flex-column
          // Earnings Summary
          .block.block-rounded.flex-grow-1.d-flex.flex-column
            .block-header.block-header-default
              h3.block-title Earnings Summary
              .block-options
                button.btn-block-option(type='button' data-toggle='block-option' data-action='state_toggle' data-action-mode='demo')
                  i.si.si-refresh
                button.btn-block-option(type='button')
                  i.si.si-settings
            .block-content.block-content-full.flex-grow-1.d-flex.align-items-center
              // Earnings Chart Container
              // Chart.js Chart is initialized in js/pages/be_pages_dashboard.min.js which was auto compiled from _js/pages/be_pages_dashboard.js
              // For more info and examples you can check out http://www.chartjs.org/docs/
              canvas.js-chartjs-earnings
            .block-content.bg-body-light
              .row.items-push.text-center.w-100
                .col-sm-4
                  dl.mb-0
                    dt.font-size-h3.font-w700
                      i.fa.fa-arrow-up.font-size-lg.text-success
                      |  2.5%
                    dd.text-muted.mb-0 Customer Growth
                .col-sm-4
                  dl.mb-0
                    dt.font-size-h3.font-w700
                      i.fa.fa-arrow-up.font-size-lg.text-success
                      |  3.8%
                    dd.text-muted.mb-0 Page Views
                .col-sm-4
                  dl.mb-0
                    dt.font-size-h3.font-w700
                      i.fa.fa-arrow-up.font-size-lg.text-success
                      |  1.7%
                    dd.text-muted.mb-0 New Products
          // END Earnings Summary
        .col-xl-4.d-flex.flex-column
          // Last 2 Weeks
          // Sparkline Charts (.js-sparkline class is initialized in Helpers.sparkline()
          // For more info and examples you can check out http://omnipotent.net/jquery.sparkline/#s-about
          .row.row-deck.flex-grow-1
            .col-md-6.col-xl-12
              .block.block-rounded.d-flex.flex-column
                .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between
                  dl.mb-0
                    dt.font-size-h2.font-w700 570
                    dd.text-muted.mb-0 Total Orders
                  div
                    .d-inline-block.px-2.py-1.rounded-lg.font-size-sm.font-w600.text-danger.bg-danger-light
                      i.fa.fa-caret-down.mr-1
                      |                                                     2.2%
                .block-content.p-1.text-center.overflow-hidden
                  // Sparkline Line: Orders
                  span.js-sparkline(data-type='line' data-points='[33,29,32,37,38,30,34,28,43,45,26,45,49,39]' data-width='100%' data-height='70px' data-chart-range-min='20' data-line-color='rgba(210, 108, 122, .4)' data-fill-color='rgba(210, 108, 122, .15)' data-spot-color='transparent' data-min-spot-color='transparent' data-max-spot-color='transparent' data-highlight-spot-color='#D26C7A' data-highlight-line-color='#D26C7A' data-tooltip-suffix='Orders')
            .col-md-6.col-xl-12
              .block.block-rounded.d-flex.flex-column
                .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between
                  dl.mb-0
                    dt.font-size-h2.font-w700 $5,234.21
                    dd.text-muted.mb-0 Total Earnings
                  div
                    .d-inline-block.px-2.py-1.rounded-lg.font-size-sm.font-w600.text-success.bg-success-light
                      i.fa.fa-caret-up.mr-1
                      |                                                     4.2%
                .block-content.p-1.text-center.oveflow-hidden
                  // Sparkline Line: Earnings
                  span.js-sparkline(data-type='line' data-points='[716,1185,750,1365,956,890,1200,968,1158,1025,920,1190,720,1352]' data-width='100%' data-height='70px' data-chart-range-min='300' data-line-color='rgba(70,195,123, .4)' data-fill-color='rgba(70,195,123, .15)' data-spot-color='transparent' data-min-spot-color='transparent' data-max-spot-color='transparent' data-highlight-spot-color='#46C37B' data-highlight-line-color='#46C37B' data-tooltip-prefix='$')
            .col-xl-12
              .block.block-rounded.d-flex.flex-column
                .block-content.block-content-full.flex-grow-1.d-flex.justify-content-between
                  dl.mb-0
                    dt.font-size-h2.font-w700 264
                    dd.text-muted.mb-0 New Customers
                  div
                    .d-inline-block.px-2.py-1.rounded-lg.font-size-sm.font-w600.text-success.bg-success-light
                      i.fa.fa-caret-up.mr-1
                      |                                                     9.3%
                .block-content.p-1.text-center.oveflow-hidden
                  // Sparkline Line: New Customers
                  span.js-sparkline(data-type='line' data-points='[25,15,36,14,29,19,36,41,28,26,29,33,23,41]' data-width='100%' data-height='70px' data-chart-range-min='0' data-line-color='rgba(70,195,123, .4)' data-fill-color='rgba(70,195,123, .15)' data-spot-color='transparent' data-min-spot-color='transparent' data-max-spot-color='transparent' data-highlight-spot-color='#46C37B' data-highlight-line-color='#46C37B' data-tooltip-prefix='$')
          // END Last 2 Weeks
      // END Statistics
      // Recent Orders
      .block.block-rounded
        .block-header.block-header-default
          h3.block-title Recent Orders
          .block-options
            button.btn.btn-sm.btn-alt-primary(type='button' data-toggle='class-toggle' data-target='#one-dashboard-search-orders' data-class='d-none')
              i.fa.fa-search
            .dropdown.d-inline-block
              button#dropdown-recent-orders-filters.btn.btn-sm.btn-alt-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.fa.fa-fw.fa-flask
                |                                         Filters
                i.fa.fa-angle-down.ml-1
              .dropdown-menu.dropdown-menu-md.dropdown-menu-right.font-size-sm(aria-labelledby='dropdown-recent-orders-filters')
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | Pending..
                  span.badge.badge-primary.badge-pill 35
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | Processing
                  span.badge.badge-primary.badge-pill 15
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | For Delivery
                  span.badge.badge-primary.badge-pill 20
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | Canceled
                  span.badge.badge-primary.badge-pill 72
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | Delivered
                  span.badge.badge-primary.badge-pill 890
                a.dropdown-item.font-w500.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                  | All
                  span.badge.badge-primary.badge-pill 997
        #one-dashboard-search-orders.block-content.border-bottom.d-none
          // Search Form
          form(action='be_pages_dashboard.html' method='POST' onsubmit='return false;')
            .form-group.push
              .input-group
                input#one-ecom-orders-search.form-control(type='text' name='one-ecom-orders-search' placeholder='Search recent orders..')
                .input-group-append
                  span.input-group-text
                    i.fa.fa-search
          // END Search Form
        .block-content
          // Recent Orders Table
          .table-responsive
            table.table.table-borderless.table-striped.table-vcenter
              thead
                tr
                  th.text-center(style='width: 120px;') Order ID
                  th.d-none.d-sm-table-cell Created
                  th.d-none.d-xl-table-cell Customer
                  th Status
                  th.d-none.d-xl-table-cell.text-center Products
                  th.d-none.d-sm-table-cell.text-center Profit
                  th.d-none.d-sm-table-cell.text-right Value
              tbody
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00965
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 11 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Megan Fuller
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-warning-light.text-warning Processing
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 5
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 24%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $614,69
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00964
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 15 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Judy Ford
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-info-light.text-info For delivery
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 5
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 21%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $411,58
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00963
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 28 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Justin Hunt
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-danger-light.text-danger Canceled
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 3
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 24%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $1258,88
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00962
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 18 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Jack Estrada
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-danger-light.text-danger Canceled
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 5
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 9%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $1429,94
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00961
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 21 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') David Fuller
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-success-light.text-success Delivered
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 7
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 25%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $1620,25
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00960
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 11 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Amber Harvey
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-success-light.text-success Delivered
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 9
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 7%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $346,33
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00959
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 9 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Alice Moore
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-info-light.text-info For delivery
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 4
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 4%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $63,66
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00958
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 13 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Laura Carr
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-danger-light.text-danger Canceled
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 8
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 6%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $947,16
                tr
                  td.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)')
                      strong ORD.00957
                  td.d-none.d-sm-table-cell.font-size-sm.font-w600.text-muted 26 min ago
                  td.d-none.d-xl-table-cell.font-size-sm
                    a.font-w600(href='javascript:void(0)') Lori Moore
                  td
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-danger-light.text-danger Canceled
                  td.d-none.d-xl-table-cell.text-center.font-size-sm
                    a.font-w600(href='javascript:void(0)') 5
                  td.d-none.d-sm-table-cell.text-center
                    span.font-size-sm.font-w600.px-2.py-1.rounded.bg-body-dark 8%
                  td.d-none.d-sm-table-cell.text-right.font-size-sm
                    strong $514,83
          // END Recent Orders Table
          // Pagination
          nav(aria-label='Photos Search Navigation')
            ul.pagination.pagination-sm.justify-content-end.mt-2
              li.page-item
                a.page-link(href='javascript:void(0)' tabindex='-1' aria-label='Previous')
                  | Prev
              li.page-item.active
                a.page-link(href='javascript:void(0)') 1
              li.page-item
                a.page-link(href='javascript:void(0)') 2
              li.page-item
                a.page-link(href='javascript:void(0)') 3
              li.page-item
                a.page-link(href='javascript:void(0)') 4
              li.page-item
                a.page-link(href='javascript:void(0)' aria-label='Next')
                  | Next
          // END Pagination
      // END Recent Orders
    // END Page Content
  // END Main Container
  // Footer
  footer#page-footer.bg-body-light
    .content.py-3
      .row.font-size-sm
        .col-sm-6.order-sm-2.py-1.text-center.text-sm-right
          | Crafted with 
          i.fa.fa-heart.text-danger
          |  by 
          a.font-w600(href='https://1.envato.market/ydb' target='_blank') pixelcave
        .col-sm-6.order-sm-1.py-1.text-center.text-sm-left
          a.font-w600(href='https://1.envato.market/AVD6j' target='_blank') OneUI 4.8
          |  &copy; 
          span(data-toggle='year-copy')
  // END Footer
  // Apps Modal
  // Opens from the modal toggle button in the header
  #one-modal-apps.modal.fade(tabindex='-1' role='dialog' aria-labelledby='one-modal-apps' aria-hidden='true')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .block.block-rounded.block-themed.block-transparent.mb-0
          .block-header.bg-primary-dark
            h3.block-title Apps
            .block-options
              button.btn-block-option(type='button' data-dismiss='modal' aria-label='Close')
                i.si.si-close
          .block-content.block-content-full
            .row.gutters-tiny
              .col-6
                // CRM
                a.block.block-rounded.block-link-shadow.bg-body(href='javascript:void(0)')
                  .block-content.text-center
                    i.si.si-speedometer.fa-2x.text-primary
                    p.font-w600.font-size-sm.mt-2.mb-3
                      | CRM
                // END CRM
              .col-6
                // Products
                a.block.block-rounded.block-link-shadow.bg-body(href='javascript:void(0)')
                  .block-content.text-center
                    i.si.si-rocket.fa-2x.text-primary
                    p.font-w600.font-size-sm.mt-2.mb-3
                      | Products
                // END Products
              .col-6
                // Sales
                a.block.block-rounded.block-link-shadow.bg-body.mb-0(href='javascript:void(0)')
                  .block-content.text-center
                    i.si.si-plane.fa-2x.text-primary
                    p.font-w600.font-size-sm.mt-2.mb-3
                      | Sales
                // END Sales
              .col-6
                // Payments
                a.block.block-rounded.block-link-shadow.bg-body.mb-0(href='javascript:void(0)')
                  .block-content.text-center
                    i.si.si-wallet.fa-2x.text-primary
                    p.font-w600.font-size-sm.mt-2.mb-3
                      | Payments
                // END Payments
  // END Apps Modal
// END Page Container
//
  OneUI JS Core
  Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
  to handle those dependencies through webpack. Please check out assets/_js/main/bootstrap.js for more info.
  If you like, you could also include them separately directly from the assets/js/core folder in the following
  order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.
  assets/js/core/jquery.min.js
  assets/js/core/bootstrap.bundle.min.js
  assets/js/core/simplebar.min.js
  assets/js/core/jquery-scrollLock.min.js
  assets/js/core/jquery.appear.min.js
  assets/js/core/js.cookie.min.js
script(src='assets/js/oneui.core.min.js')
//
  OneUI JS
  Custom functionality including Blocks/Layout API as well as other vital and optional helpers
  webpack is putting everything together at assets/_js/main/app.js
script(src='assets/js/oneui.app.min.js')
// Page JS Plugins
script(src='assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js')
script(src='assets/js/plugins/chart.js/Chart.bundle.min.js')
// Page JS Code
script(src='assets/js/pages/be_pages_dashboard.min.js')
// Page JS Helpers (jQuery Sparkline Plugins)
script.
  jQuery(function () {
  One.helpers(['sparkline']);
  });
