extends layout
block content
    .page
      div(style='height: 30px;')
      include header
      // Trending products
      section.section.section-md.bg-default
        .container
          .row.row-50
            .col-lg-6
              .slick-product
                // Slick Carousel
                .carousel-parent.slick-initialized.slick-slider(data-swipe='true' data-items='1' data-child='#child-carousel' data-for='#child-carousel')
                  .slick-list.draggable(aria-live='polite')
                    .slick-track(style='opacity: 1; width: 1275px; transform: translate3d(0px, 0px, 0px);' role='listbox')
                      .item.slick-slide.slick-current.slick-active(style='width: 425px;' tabindex='-1' role='option' aria-describedby='slick-slide00' data-slick-index='0' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/flufL.jpg' alt='' width='530' height='480')
                //- #child-carousel.child-carousel.slick-initialized.slick-slider(data-for='.carousel-parent' data-arrows='true' data-items='3' data-sm-items='3' data-md-items='3' data-lg-items='3' data-xl-items='3' data-slide-to-scroll='1' data-md-vertical='true')
                  .slick-list.draggable(aria-live='polite')
                    .slick-track(style='opacity: 1; width: 438px; transform: translate3d(0px, 0px, 0px);' role='listbox')
                      .item.slick-slide.slick-active.slick-current(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide10' data-slick-index='0' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/allPurposeSquare.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide11' data-slick-index='1' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')
                      .item.slick-slide.slick-active(style='width: 134px;' tabindex='-1' role='option' aria-describedby='slick-slide12' data-slick-index='2' aria-hidden='false')
                        .slick-product-figure
                          img(src='images/products/allpurpose/_RAF4918Small.jpg' alt='' width='169' height='152')            
            .col-lg-6
              .single-product
                h3 Fluf in the Box - L
                .group-md.group-middle
                  .single-product-price $34.99 - IVA incluido. Gastos de envío incluidos para España peninsular.
                  .box-rating
                    span.icon.fa.fa-star
                    span.icon.fa.fa-star
                    span.icon.fa.fa-star
                    span.icon.fa.fa-star
                    span.icon.fa.fa-star
                    //- span.icon.fa.fa-star-half-o
                p
                  | Si tu perro es como tu hijo, y sabemos que lo es, se merece nuestra caja L, la mas completa de todas. Esta caja incluye:
                ul
                  li 1 juguete para morder
                  li 1 juguete anti ansiedad
                  li 1 juguete interactivo para que jueguen juntos
                  li 1 Hueso de higiene dental
                  li 2 bolsas de premios secos
                  li 3 sticks
                  li 2 bolsitas o 1 lata de comida húmeda para perro
                .divider.divider-30
                    //- ul.list.list-description.d-inline-block.d-md-block
                    //-   li
                p  (la foto es orientativa y los juguetes y premios pueden cambiar)
                  
                .group-sm.group-middle
                  .product-stepper
                    .stepper
                      input.form-input.stepper-input(type='number' data-zeros='true' value='1' min='1' max='1000')
                      span.stepper-arrow.up
                      span.stepper-arrow.down
                  div
                    a.button.button-primary.button-pipaluk(href='https://www.amazon.es/dp/B09KS2GRC1/ref=cm_sw_em_r_mt_dp_PMNS8N00DPJWN21AZA18' target='_blank') Comprar
                .divider.divider-40
                .group-md.group-middle
                  span.social-title Share
                  div
                    ul.list-inline.list-inline-sm.social-list
                      li
                        a.icon.fa.fa-facebook(href='#')
                      li
                        a.icon.fa.fa-twitter(href='#')
                      li
                        a.icon.fa.fa-google-plus(href='#')
                      li
                        a.icon.fa.fa-instagram(href='#')
          // Bootstrap tabs
          #tabs-5.tabs-custom.tabs-horizontal.tabs-corporate
            // Nav tabs
            ul.nav.nav-tabs
              li.nav-item(role='presentation')
                a.nav-link.active(href='#tabs-5-1' data-toggle='tab') Reseñas (2)
              li.nav-item(role='presentation')
                a.nav-link(href='#tabs-5-2' data-toggle='tab') Información adicional
              li.nav-item(role='presentation')
                a.nav-link(href='#tabs-5-3' data-toggle='tab') Envío y pago
            // Tab panes
            .tab-content
              #tabs-5-1.tab-pane.fade.show.active
                .box-comment
                  .unit.unit-spacing-md.flex-column.flex-md-row.align-items-lg-center
                    .unit-left
                      a.box-comment-figure(href='#')
                        img(src='images/user-1-119x119.jpg' alt='' width='119' height='119')
                    .unit-body
                      .group-sm.group-justify
                        div
                          .group-sm.group-middle
                            p.box-comment-author
                              a(href='#') Macarena
                            .box-rating
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                        .box-comment-time
                          time(datetime='2018-11-30') Ago 30, 2021
                      p.box-comment-text
                        | Se la compramos a nuestro perrete y, sin duda, repetiremos! Le encantó!!! No suelta los juguetes, va con su cocodrilo a todas partes, y le encanta que le lance el cohete! Los premios de comida que vienen son muy completos y, estoy hasta por probarlos, porque mi perro se ha vuelto loco! Compramos la caja grande porque queríamos ver todo lo que traía y fue todo un acierto! Vienen muchos juguetes y premios y nuestro perro esta encantadísimo! La entrega muy rápida y recibido en perfecto estado. Además, un porcentaje es para ayudar a perros que aún buscan una familia que los cuide :)
                br
                .box-comment
                  .unit.unit-spacing-md.flex-column.flex-md-row.align-items-lg-center
                    .unit-left
                      a.box-comment-figure(href='#')
                        img(src='images/user-1-119x119.jpg' alt='' width='119' height='119')
                    .unit-body
                      .group-sm.group-justify
                        div
                          .group-sm.group-middle
                            p.box-comment-author
                              a(href='#') Jaime
                            .box-rating
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                              span.icon.fa.fa-star
                        .box-comment-time
                          time(datetime='2018-11-30') Ago 11, 2021
                      p.box-comment-text
                        | Hemos recibido la caja en muy buen estado y la verdad es que nos ha sorprendido la cantidad de juguetes y premios que vienen incluido. A nuestro perro Ron le ha encantado todos y cada uno de los juguetes incluidos, desde un cocodrilo, un cohete volador hasta un kong! Los premios son muy originales y les vuelve loco a nuestro Boyero de Berna. No puede estar más feliz con ellos y estamos seguros de que encargaremos otra pronto. ¡Muchas Gracias!
                br                
                h5.text-spacing-100.font-weight-normal Envía tu comentario
                form.rd-form.rd-mailform(novalidate='novalidate')
                  .row.row-14.gutters-14
                    .col-sm-6
                      .form-wrap
                        input#contact-your-name-4.form-input.form-control-has-validation(type='text' name='name' data-constraints='@Required')
                        span.form-validation
                        label.form-label.rd-input-label(for='contact-your-name-4') Tu nombre
                    .col-sm-6
                      .form-wrap
                        input#contact-email-4.form-input.form-control-has-validation(type='email' name='email' data-constraints='@Email @Required')
                        span.form-validation
                        label.form-label.rd-input-label(for='contact-email-4') Tu E-mail
                    .col-12
                      .form-wrap
                        label.form-label.rd-input-label(for='contact-message-4') Mensaje
                        textarea#contact-message-4.form-input.textarea-lg.form-control-has-validation.form-control-last-child(name='message' data-constraints='@Required')
                        span.form-validation
                  button.button.button-primary.button-pipaluk(type='submit') Enviar
              #tabs-5-2.tab-pane.fade
                p
                  | 
              #tabs-5-3.tab-pane.fade
                ul
                  li Envío a cualquier punto de España peninsular gratuito con Correos Express.
                  li Envío a Islas Baleares gratuito con Correos y con un coste de 9,00 € con Correos Express.
                  li Envío a las islas Canarias con un coste de 9,00€ con Correos.
                  li No realizamos envíos a Ceuta y Melilla.
      // Page Footer
      include footer                    
    