footer.section.footer-variant-2.footer-modern.context-dark.section-top-image.section-top-image-dark
        .footer-variant-2-content
          .container
            .row.row-40.justify-content-between
              .col-sm-6.col-lg-4.col-xl-3
                .oh-desktop
                  .wow.slideInRight(data-wow-delay='0s')
                    .footer-brand
                      a(href='/')
                        img(src='images/logo-anubis-gold.png' alt='' width='196' height='42')
                    p
                      | Anubis Adiestramiento es una empresa familiar ubicada en la provincia de Guadalajara, España.
                    //- ul.footer-contacts.d-inline-block.d-md-block
                    //-   li
                    //-     .unit.unit-spacing-xs
                    //-       .unit-left
                    //-         span.icon.fa.fa-phone
                    //-       .unit-body
                    //-         a.link-phone(href='tel:#') +34 696-865-220
                    //-   li
                    //-     .unit.unit-spacing-xs
                    //-       .unit-left
                    //-         span.icon.fa.fa-clock-o
                    //-       .unit-body
                    //-         p Lunes-Domingo: 08:00AM - 08:00PM
                    //-   li
                    //-     .unit.unit-spacing-xs
                    //-       .unit-left
                    //-         span.icon.fa.fa-location-arrow
                    //-       .unit-body
                    //-         a.link-location(href='#') Guadalajara, Spain 19192
              .col-sm-6.col-lg-4.col-xl-4
                .oh-desktop
                  .inset-top-18.wow.slideInDown(data-wow-delay='0s')
                    ul.footer-contacts.d-inline-block.d-md-block
                        li
                          .unit.unit-spacing-xs
                            .unit-left
                              span.icon.fa.fa-phone
                            .unit-body
                              a.link-phone(href='tel:#') +34 696-865-220
                        li
                          .unit.unit-spacing-xs
                            .unit-left
                              span.icon.fa.fa-clock-o
                            .unit-body
                              p Lunes-Domingo: 08:00AM - 08:00PM
                        li
                          .unit.unit-spacing-xs
                            .unit-left
                              span.icon.fa.fa-location-arrow
                            .unit-body
                              a.link-location(href='#') Guadalajara, Spain 19192
                    //- h5 Newsletter
                    //- p Date de alta en nuestra newsletter para recibir noticias.
                    //- form.rd-form.rd-mailform(data-form-output='form-output-global' data-form-type='subscribe' method='post' action='bat/rd-mailform.php')
                    //-   .form-wrap
                    //-     input#subscribe-form-5-email.form-input(type='email' name='email' data-constraints='@Email @Required')
                    //-     label.form-label(for='subscribe-form-5-email') Introduce tu correo
                    //-   button.button.button-block.button-white(type='submit') Regístrate
                    .group-lg.group-middle
                      p.text-white Síguenos
                      div
                        ul.list-inline.list-inline-sm.footer-social-list-2
                          li
                            a.icon.fa.fa-facebook(href='https://www.facebook.com/anubisadiestramiento')
                          li
                            a.icon.fa.fa-tiktok(href='https://www.tiktok.com/@anubis.pet')
                          li
                            a.icon.fab.fa-google(href='https://g.page/AnubisAdiestramiento?share')
                          li
                            a.icon.fa.fa-instagram(href='https://www.instagram.com/anubis.pet/')
              .col-lg-3.col-xl-3
                .oh-desktop
                  .inset-top-18.wow.slideInLeft(data-wow-delay='0s')
                    h5 Galería
                    // SnapWidget
                    iframe.snapwidget-widget(src='https://snapwidget.com/embed/901740' allowtransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden;  width:230px; height:230px')
        .footer-variant-2-bottom-panel
          .container
            // Rights
            .group-sm.group-sm-justify
              p.rights
                span © 
                span.copyright-year
                span Anubis Adiestramiento
                | . All rights reserved
              p.rights
                | Design by 
                a(href='https://www.templatemonster.com/') Templatemonster
        // Global Mailform Output
        #form-output-global.snackbars
        // Javascript
        script(src='js/core.min.js')
        script(src='js/script.js')
        // coded by Ragnar