doctype html
//- html.no-js(lang='en')
html.wide.wow-animation(lang='en')
  head
    title Anubis
    meta(name='format-detection' content='telephone=no')
    meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='google-site-verification' content='fnVv44pKpU1cxiBmb9Wd98O8Y5iwY9B8IX7qCgNL1II')

    link(rel='icon' href='images/favicon.ico' type='image/x-icon')
    // Stylesheets
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Poppins:300,400,500')
    link(rel='stylesheet' href='css/bootstrap.css')
    link(rel='stylesheet' href='css/fonts.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/slick.css')
    link(rel='stylesheet' href='css/product.css')
    //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css')
    script(type='text/javascript', src='/javascript/jquery-1.11.3.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    //- script(type='text/javascript', src='/javascript/jquery.easing.min.js')
    //- script(type='text/javascript', src='/javascript/jquery.gmap.min.js')
    //- script(type='text/javascript', src='/javascript/viewport-units-buggyfill.hacks.js')
    //- script(type='text/javascript', src='/javascript/viewport-units-buggyfill.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-7TSR64CTMD')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7TSR64CTMD');
    //if lt IE 10
      div(style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;')
        a(href='http://windows.microsoft.com/en-US/internet-explorer/')
          img(src='images/ie8-panel/warning_bar_0000_us.jpg' border='0' height='42' width='820' alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')
      script(src='js/html5shiv.min.js')
  body
    .preloader
      .preloader-body
        .cssload-container
          span
          span
          span
          span
    block content